body {
  background: repeat top/100% url("../img/bg.png");
}

.containerPrincipal {
  display: grid;

  justify-content: center;
  position: relative;
}

.containerDivs {
  padding: 30px;
  height: fit-content;
  width: 70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 15px;
}

.contactoDiv{
  border-radius: 20px;
  box-shadow: 0px 2px 15px;
  width: max-content;
}

.bienvenidaDiv{
  border-radius: 20px;
  box-shadow: 0px 2px 15px;
}

.categoriasDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categoria {
  box-shadow: 0px 2px 15px;
  width: 50%;
}

.imgPlayer {
  box-shadow: 0px 2px 15px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-img {
  justify-content: space-around;
  flex-wrap: wrap;
}

.progressBar {
  width: 100%;
}

.nav-link {
  margin-top: 0.5rem;
}

.containerUl {
  width: 100%;
}

.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-nav.ulLink {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.torneosDiv {
  margin-top: 20px;
  width: 100%;
}

.bannerTorneo {
  width: 100%;
}

.donantes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.botonMercadoPago {
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  border-color: rgb(13, 24, 104);
}

.cropperDiv {
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 5%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.playerCard {
  width: 280px;
  background: white;
}

.cardTitle {
  padding-top: 5px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message {
  font-size: 45px;
  color: #3b5998;
}

.message:hover {
  font-size: 55px;
  color: rgb(189, 38, 209);
  transition: all ease 0.4s;
}

.whatsapp {
  color: #00bb2d;
  font-size: 45px;
}

.whatsapp:hover {
  font-size: 55px;
  color: #00bb2d;
  transition: all ease 0.4s;
}

.saludo {
  color: #3b5998;
}

.creador {
  color: rgb(255, 255, 255);
}

.botonRecortar {
  z-index: 10;
}

.botonArriba {
  border-radius: 50px;
  border-color: #60C5D2; ;
  padding: 10px;
  background: #60C5D2;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

.buscador{
  width: fit-content;
}

.loginDiv{
  height: 60vh;
}

.ingresoConGoogle{
  border-top: 5px solid rgb(66, 133, 244);
  border-right: 5px solid rgb(219 68 55);
  border-bottom: 5px solid rgb(244 180 0);
  border-left: 5px solid rgb(15 157 88);
  border-radius: 10px;
  color: rgb(66, 133, 244);
  background-color: white;
  font-weight: bold;
}

.iconoGoogle{
  margin-right: 10px;
}

.ingresoConFacebook{
  border-radius: 10px;
  border: solid 5px #3b5998;
  background-color: #3b5998;
  color: white;
}

.ingresoConFacebook:hover{
  background-color: #4a6fc0;
  color: white;
}

.iconoFacebook{
  font-size: 20px;
  margin-right: 10px;
}

.tablasTorneo{
  width: 70%;
}

.contador{
  width: max-content;
}

.cPanelDiv{
  width: 70%;
}
/*------------------------------------MEDIAQUERY----------------*/

@media (max-width: 767px) {
  .tituloPaginas {
    text-align: center;
  }

  .torneo {
    display: none;
  }

  .containerDivs {
    margin: 20px 10px;
    width: 90%;
  }

  form {
    width: 100%;
  }

  .cropperDiv {
    position: absolute;
    width: 90%;
    bottom: 10%;
    left: 5%;
    background-color: rgb(0, 0, 0, 0.5);
  }

  .botonArriba {
    border-radius: 50px;
    border-color: #60C5D2; ;
    padding: 5px;
    background: #60C5D2;
    font-size: 30px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    left: 20px;
    z-index: 20;
    width: fit-content;
  }
}
