.containerPrincipal {
    display: grid;
    height: 90vh;
    justify-content: center;
    position: relative;
}

.containerDivs{
    padding: 30px;
    height: fit-content;
    width: 70%;
}

.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-img{
    justify-content: space-around;
    flex-wrap: wrap;
}

.progressBar{
    width: 100%;
}

.nav-link{
    margin-top: .5rem ;
}

.containerUl{
    width: 100%;
}

.containerHome{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ulLink{
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.torneosDiv{
    margin-top: 20px;
    width: 100%;
}

.bannerTorneo{
    width: 100%;
}

.donantes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.botonMercadoPago{
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    border-color: rgb(13, 24, 104);
}

.cropperDiv{
    position: absolute;
    width: 40%;
    bottom: -5%;
    left: 25%;
    background-color: rgb(0, 0, 0, .5);
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.playerCard{
    width: 280px;
}

.cardTitle{
    padding-top: 5px;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*------------------------------------MEDIAQUERY----------------*/

@media (max-width: 767px){
    .tituloPaginas{
        text-align: center;
    }

    .torneo{
        display: none;
    }

    .containerDivs{
        margin: 20px 10px;
        width: 90%;
    }
    
    form{
        width: 100%;
    }

    .torneosDiv{
       
    }

    .cropperDiv{
        position: absolute;
        width: 100%;
        bottom: -135px;
        left: 10px;
        background-color: rgb(0, 0, 0, .5);
        
    }
}